<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="\static\style.css">
</head>
<body>
    <h1>Página Inicial</h1>
    <br>
    <p>Bem vindo</p>
    <br><br>
    <a href="{{url_for('pessoa_func')}}">PESSOA</a>
    <br><br><br>
    <a href="{{url_for('animal_func')}}">ANIMAL</a>
</body>
</html>